html,
body {
    padding: 0;
    margin: 0;
}

.header {
    width: 730px;
    margin: 5px auto;
    overflow: auto;
    background-color: LightGoldenRodYellow;
}

.title {
    float: left;
    margin: 0 0 0 10px;
}

.info {
    margin: 10px 10px 0 0;
    float: right;
}

#connection-status {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    padding: 0;
    display: block;
    float: left;
    margin: 1px 0px 0px 1px;
}

#connection-status.connected {
    background-color: green;
}

#connection-status.disconnected {
    background-color: red;
}

.game-container {
    width: 730px;
    margin: 0 auto;
    clear: left;
    background-color: Cornsilk;
}